nav#site-navigation {
        box-shadow: 0 3px 6px 0 rgb(0 0 0 / 30%);
        }
        html {
            overflow-x: hidden;
            }
            #menu-header-1 a {
                border: 2px solid #2805a9;
                    line-height: unset !important;
                        border-radius: 50px;
                            margin: 5px;
                            }

                            #menu-header-1 a:hover {
                                background: #2805a9;
                                    color: #ffffff;
                                    }
                                    #menu-header a {
                                        border: 2px solid #2805a9;
                                            line-height: unset !important;
                                                border-radius: 50px;
                                                    margin: 5px;
                                                    }

                                                    #menu-header a:hover {
                                                        background: #2805a9;
                                                            color: #ffffff;
                                                            }
                                                            /* Table */
                                                            .wp-block-table {
                                                            	overflow-y: hidden;
                                                                	margin-bottom:25px;
                                                                    }
                                                                    .wp-block-table figcaption {
                                                                    	font-size: 14px;
                                                                        	margin-top: -30px;
                                                                            	text-align: center;
                                                                                	background: #dcdcdc;
                                                                                    	margin-bottom: 0px;
                                                                                        	white-space: nowrap;
                                                                                            	overflow: hidden;
                                                                                                	text-overflow: ellipsis;
                                                                                                    	padding: 0 7px;
                                                                                                        }
                                                                                                        td, th {
                                                                                                        	padding: 5px !important;
                                                                                                            	font-size: 18px !important;
                                                                                                                }
                                                                                                                .thead th{
                                                                                                                	background: #ffe4c4;
                                                                                                                    	color: #d20000;
                                                                                                                        }
                                                                                                                        /* Navigation */ 
                                                                                                                        .navigation-branding img, .site-logo.mobile-header-logo img {
                                                                                                                        	height: 60px;
                                                                                                                            	width: 220px!important;
                                                                                                                                	margin-bottom: auto
                                                                                                                                    }
   /*This is The Anouncement Css */
          .alertTop {
              padding: 0px;
              background-color: #1134ed;
              color: white;
              font-size: 15px;
              text-align: center;
              max-width: 100%;
              border: black 1px solid;
          }
    
          .alertTop a {
              color: #ffffff;
              font-weight: bold;
              text-decoration: none;
          }
    
          .alertTop p {
              margin-bottom: 0px;
          }
    
          .alertTop .note {
              font-weight: bold;
              background-color: #ffffff;
              color: #000000;
              padding: 1px 3px 1px 3px;
              border-radius: 3px;
          }
    
          @media only screen and (max-width: 425px) {
    
              .alertTop p {
                  text-align: center;
                  font-size: 13px;
              }
    
              .alertTop {
                  padding: 10px 7px;
              }
    
          }
    
          @media only screen and (max-width: 375px) {
              .alertTop p {
                  font-size: 11px;
              }
          }
    
          .closebtn {
              margin-left: 25px;
              color: white;
              font-weight: bold;
              float: right;
              font-size: 22px;
              line-height: 20px;
              cursor: pointer;
              transition: 0.3s;
          }
/* Redict button Css */
#redirectButtonContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      height: vh;
    }

    #redirectButton {
      display: inline-block;
      padding: 15px 30px;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      border-radius: 50px;
      background-color: #3ed596;
      color: #FFFFFF;
      border: none;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: background-color 0.3s ease, box-shadow 0.3s ease;
      cursor: pointer;
    }

    #redirectButton:hover {
      background-color: #12ed3b;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }

    #redirectButton:active {
      background-color: #3ed596;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    }

#buttonContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: vh;
    }

        .button  {
      display: inline-block;
      padding: 15px 30px;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      border-radius: 50px;
      background-color: #037aff;
      color: #FFFFFF;
      border: none;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: background-color 0.3s ease, box-shadow 0.3s ease;
      cursor: pointer;
    }

    .button:hover {
      background-color: #12ed3b;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }

    .button:active {
      background-color: #3ed596;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    }
        

        #secondButton {
            display: none;
            
        }

.snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@-webkit-keyframes snowflakes-shake {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }

    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px)
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
}

@keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@keyframes snowflakes-shake {
    0% {
        transform: translateX(0px)
    }

    50% {
        transform: translateX(80px)
    }

    100% {
        transform: translateX(0px)
    }
}

.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running
}

.snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, .5s;
    animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s
}